body {
    background-image: url('../images/landscape-wheat-farm-green.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
}

.container {
    padding: 130px 150px;
    color: white;
}
.about {
    text-align: center;
    font-size: 70px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

div .text {
    padding-top: 50px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2rem;
}

div .seg{
    padding-top: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2rem;
}

.text1{
    padding-top: 50px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2rem;
}

